{% extends "components/base_form.html" %}

{% block action %}{% url "login" %}{% endblock %}

{% block fields %}
    <button type="button" class="step-btn prev">
        <i class="fa fa-arrow-left"></i> Назад
    </button>
    <div class="form-steps">
        <div class="step">
            <div class="step-title">
                Добро пожаловать снова!
            </div>
            <div class="input-row">
                <input type="text" value="{{ creds.username }}" class="username-input" placeholder="Имя пользователя" name="username">
            </div>
            <div class="input-row">
                <input type="password" value="{{ creds.password }}" class="username-input" placeholder="Пароль" name="password">
            </div>
            <div class="input-row">
                <button type="submit" class="step-btn next">
                    Далее
                </button>
            </div>
        </div>
    </div>

    {% if not ok %}
        <div class="auth-form-error">
            {{ error }}
        </div>
    {% endif %}

{% endblock %}