{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block head %}
    <link rel="stylesheet" href="{% sass_src 'main/index.scss' %}">
    <script src="{% static "js/titleTasks.js" %}"></script>
{% endblock %}

{% block content %}
    <section class="title-section">
    <div class="inner-section">
        <div class="title-details">
            <img src="{% static "img/scientist.svg" %}" alt="" width="100%" class="title-image">
            <div class="main-details">
                <div class="main-title">
                    Структурируйте свои мысли
                </div>
                <div class="main-description">
                    Сервис поможет вам лучше разобраться в себе и с энтузиазмом подходить к новым делам.
                </div>
            </div>
            <div class="main-button-group">
                {% if not request.user.is_authenticated %}
                <div class="main-button" onclick="location.href = '{% url "register" %}'">
                    Зарегаться
                </div>
                <div class="main-button secondary">
                    Узнать больше
                </div>
                {% else %}
                <div class="main-button" onclick="location.href = '{% url "notes-index" %}'">
                    Как прошел ваш день?
                </div>
                <div class="main-button secondary" onclick="location.href = '{% url "tasks-index" %}'">
                    Незавершенные дела
                </div>
                {% endif %}
            </div>
        </div>
        <div class="title-illustration">
            <video muted src="{% static "video/rickroll.mp4" %}" id="roll" style="display: none"></video>
        </div>
    </div>
    </section>
    <div class="section-separator"></div>
    <section class="about-section">
    <div class="inner-section">
        <div class="section-title">
            А если подробнее?
        </div>
        <div class="image-groups">
            <div class="image-group">
                <img src="{% static "img/diary.png" %}" alt="">
                <div class="section-content">
                    <div class="title">
                        Данный сервис сочетает в себе функции ежедневника и todo-листа.
                    </div>
                    Проще говоря, сюда можно записать то, что вас волнует в данный момент, либо составить список дел на скорую руку. Через несколько лет вы откроете этот сайт и вспомните, что когда-то, например, планировали слетать в Геленджик, или забыли забрать карту из банка.
                </div>
            </div>
            <div class="image-group">
                <img src="{% static "img/secure.png" %}" alt="">
                <div class="section-content">
                    <div class="title">
                        Даже администраторы сервиса не увидят ваших заметок.
                    </div>
                    После регистрации система создаст пару из публичного и приватного ключей. Публичный ключ будет храниться на сервере, приватный - на вашем компьютере. При каждом входе, помимо пароля, у вас будет запрашиваться приватный ключ.
                </div>
            </div>
            <div class="image-group">
                <img src="{% static "img/eye.png" %}" alt="">
                <div class="section-content">
                    <div class="title">
                        Вы спросите: как система поймет, что я ввел правильный ключ?
                    </div>
                    Всё просто: на сервере лежит хэш вашего приватного ключа. Для каждой строки хэш-функция возвращает свой результат. Восстановить изначальную строку по ее хэшу невозможно. Ниже вы можете посмотреть, как это работает.
                </div>
            </div>
        </div>

        {% include "components/hash_tester.html" %}
    </div>
    </section>
{% endblock %}