.section-title {
	font-weight: 900;
	font-size: var(--size-xxl);
	margin-bottom: var(--size-xl);
}

.section-content {
	color: #FFFD;
	font-weight: 200;
	margin-bottom: var(--size-l);
	font-size: 22px;

	@media (max-width: $tablet) {
		font-size: 16px;
	}

	.title {
		color: #FFF;
		font-size: 28px;
		font-weight: 700;
		margin-bottom: var(--size);

		@media (max-width: $tablet) {
			font-size: 22px;
		}
	}

	.bold-title {
		font-weight: 900;
		font-size: var(--size-main-title);
		margin-bottom: var(--size-xl);
	}
}

