<header>
    <div class="inner-header">
        <div class="header-group">
            <a class="header-logo" href="{% url "index" %}">
                Promorrow
            </a>
        </div>
        {% if not request.user.is_authenticated %}
            <div class="header-group">
                <a class="header-link" href="{% url "login" %}">
                    войти
                </a>
                <a class="header-link" href="{% url "register" %}">
                    зарегаться
                </a>
            </div>
        {% else %}
            <div class="header-group">
                <a class="header-link" href="{% url "tasks-index" %}">
                    дела
                </a>
                <a class="header-link" href="{% url "notes-index" %}">
                    заметки
                </a>
                <a class="header-link" href="{% url "me" %}">
                    {{ request.user.username }}
                </a>
            </div>
        {% endif %}
    </div>
</header>