

.title-section {
	padding-top: 96px;
	gap: var(--size-xxl);

	.inner-section {
		display: flex;
		gap: var(--size-xxl);
	}
}

@keyframes moveTask {
	to {
		transform: translateY(-100%);
	}
}

.title-illustration {
	@media (max-width: $wide-tablet) {
		display: none;
	}


	width: 100%;
	border: 1px solid #FFF4;
	border-radius: 10px;
	overflow: hidden;
	max-height: 810px;
	position: relative;

	.illustration-task {
		width: 100%;
		padding: var(--size-l);
		background: #fff1;
		transition: 0.7s ease-in;
		transform-origin: right;
		display: flex;
		gap: var(--size);

		&.swiped {
			transform: translateX(100%);
		}

		&.moved {
			animation: moveTask .7s normal forwards ease-in-out;
		}

		.task-icon {
			height: 19px;
			aspect-ratio: 1;
			border-radius: 3px;
			border: 1px solid #FFF3;
			color: #FFF3;
			background: var(--bg-color);
			font-size: var(--size-s);
			display: flex;
			justify-content: center;
			align-items: center;
			transition: 0.4s;

			&.checked {
				background: white;
				border-color: white;
				color: var(--bg-color);
			}
		}
	}
}

.title-details {
	display: flex;
	flex-direction: column;
	gap: var(--size-xxl);
	height: fit-content;
	max-width: 100%;

	.main-details {
		display: flex;
		flex-direction: column;
		gap: var(--size-xxl);

		.main-title {
			font-size: var(--size-main-title);
			font-weight: 900;
		}
		.main-description {
			font-size: var(--size-l);
			opacity: .8;
			font-weight: 700;
		}
	}
	.main-button-group {
		display: flex;
		gap: var(--size-l);

		@media (max-width: $wide-mobile) {
			flex-direction: column;
		}

		.main-button {
			padding: 18px 50px;
			background: #fff;
			border-radius: 7px;
			color: var(--bg-color);
			cursor: pointer;
			transition: .4s;

			@media (max-width: $tablet) {
				padding: 16px 24px;
				display: flex;
				justify-content: center;
			}

			&:hover {
				opacity: .9;
			}

			&.secondary {
				background: #ffffff22;
				color: white;
			}
		}
	}
}

#roll {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
